.main-container {
  margin: 50px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  max-width: 1000px;
  margin: 20px 50px 0px 50px;
  padding: 0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.cell {
  background-color: white;
  padding: 20px;
  text-align: left;
  font-weight: lighter  ;
  font-size: large;
  border-right: 1px solid rgba(0, 0, 0, 0.171);
}
th:last-child {
  border: 0px;
}

