.main-container {
  margin: 50px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  font-size: large;
}
img {
  margin:auto;
  width: 200px;
  border: solid rgba(0, 0, 0, 0.171) 1px ;
}
.row {
  display: flex;
  flex-direction: row;
}
.item {
  gap: 5px;
  background-color: white;
  border: solid rgba(0, 0, 0, 0.171) 1px ;
  padding: 10px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
