.faktura-image {
  position: absolute;
    z-index: -1;
}
.fields-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.meta-row {
  margin-top: 40px;
  margin-left: 500px;
  display: flex;

}
.nr {
  position: absolute;
  left: 510px;
  top: 132px;
  font-size: x-large;
}

.city {
  font-size: large;
  position: absolute;
  left: 830px;
  top: 43px;
}
.issue-date-1 {
  font-size: large;
  position: absolute;
  left: 915px;
  top: 90px;
}
.issue-date-2 {
  font-size: large;
  position: absolute;
  left: 1120px;
  top: 91px;
}
.finish-date-1 {
  font-size: large;
  position: absolute;
  left: 975px;
  top: 139px;
}
.finish-date-2 {
  font-size: large;
  position: absolute;
  left: 1120px;
  top: 139px;
}
.seller-name {
  font-size: large;
  position: absolute;
  left: 220px;
  top: 197px;
}
.seller-address-1 {
  font-size: large;
  position: absolute;
  left: 120px;
  top: 234px;
}
.seller-address-2 {
  font-size: large;
  position: absolute;
  left: 120px;
  top: 270px;
}
.seller-nip {
  font-size: large;
  position: absolute;
  left: 315px;
  top: 305px;
}
.buyer-name {
  font-size: large;
  position: absolute;
  left: 730px;
  top: 197px;
}
.buyer-address-1 {
  font-size: large;
  position: absolute;
  left: 655px;
  top: 234px;
}
.buyer-address-2 {
  font-size: large;
  position: absolute;
  left: 655px;
  top: 270px;
}
.buyer-nip {
  font-size: large;
  position: absolute;
  left: 850px;
  top: 305px;
}
.items {
  font-size: large;
  position: absolute;
  left: 150px;
  top: 470px;
  gap: 33px;
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  position: relative;
}
.id {
  font-size: large;
  position: absolute;
  left: -38px;
}
.name {
  font-size: large;
  position: absolute;
  text-wrap: nowrap;
}
.unit {
  font-size: large;
  position: absolute;
  left: 530px;
}
.amount {
  font-size: large;
  position: absolute;
  left: 588px;
}
.single-item-price {
  font-size: large;
  position: absolute;
  left: 698px;
}
.single-item-price-gr {
  font-size: large;
  position: absolute;
  left: 808px;
}
.item-price-gr {
  font-size: large;
  position: absolute;
  left: 978px;
}
.item-price {
  font-size: large;
  position: absolute;
  left: 850px;
}
.total-price {
  font-size: large;
  position: absolute;
  top: 866px;
  left: 305px;
}
.total-price-word {
  word-break:break-all;
  line-height: 42px;
  display: inline-block;
  font-size: large;
  position: absolute;
  top: 935px;
  width: 480px;
  height: 74px;
  text-wrap: wrap;
  left: 115px;
  overflow-y: hidden;
}
.paid {
  font-size: large;
  position: absolute;
  top: 1040px;
  left: 250px;
}
.remaining {
  font-size: large;
  position: absolute;
  top: 1075px;
  left: 325px;
}
.receiver {
  font-size: large;
  position: absolute;
  top: 1075px;
  left: 625px;
}
.issuer {
  font-size: large;
  position: absolute;
  top: 1075px;
  left: 910px;
}
.total-no-tax {
  font-size: large;
  position: absolute;
  top: 865px;
  left: 1000px;
}
.total-with-tax {
  font-size: large;
  position: absolute;
  top: 932px;
  left: 1000px;
}
.vat-stake {
  font-size: large;
  position: absolute;
  top: 888px;
  left: 785px;
}
.vat-total {
  font-size: large;
  position: absolute;
  top: 900px;
  left: 1000px;
}
.tax-free-reason {
  text-wrap: nowrap;
  font-size: large;
  position: absolute;
  left: 422px;
}
.total-no-tax-gr {
  font-size: large;
  position: absolute;
  top: 865px;
  left: 1130px;
}
.total-with-tax-gr {
  font-size: large;
  position: absolute;
  top: 932px;
  left: 1130px;
}
.vat-total-gr {
  font-size: large;
  position: absolute;
  top: 900px;
  left: 1130px;
}
